!!!
%html
  %head
    %title wwiki - @tjmaynes
    :css
      .h1 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
      }
  %body
    %h1 Welcome to wwiki
    %p
      Check out the README found at http://www.github.com/tjmaynes/wwiki